main {
    padding-left: 20em;
    padding-right: 20em;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    color: gray;
    text-align: center; 
}

button {
    background-color: lightskyblue;
    color: white;
    margin-left: 30em;
    
}

footer {
    text-align: center;
    color: gray;
}

ul > li {
    color: gray;
    list-style: none;
    display: inline-block;
    padding: 20px;
}

header {
    padding-left: 15em;
    padding-right: 10em;
    display: flex;
    text-align: center;
    font-style: sans-serif;
    font-weight: thin;
}

header > ul {
    padding-left: 15em;
}

div {
    font-size: .75em;
    /* padding-bottom: 3px; */
    line-height: 0em;
    Padding-top: 10px;
    padding-bottom: 10px;
}

main > ul {
    display: flex;
    padding-left: 0em;
    margin-left: 0em;
    background-color: pink;
}