main {
    padding-left: 20em;
    padding-right: 20em;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    color: gray;
    text-align: center; 
}

button {
    background-color: lightskyblue;
    color: white;
    
}

footer {
    text-align: center;
    color: gray;
}

main > ul {
    color: gray;
    list-style: none;
    display: inline-block;
}

main > ul > li {
    display: inline-block;
    padding: 10px;
}

header {
   display: block; 
}

