/* Header Styles */
#left {
    float: left;
}

#right {
    float: right;
}

header {
    background-color: gray;
    color: white;
    display: inline-block;
    position: absolute;
    height: 98%;
    width: 15%;
    z-index: 1;
    padding-left: 30px;
    padding-right: 20px;
}

/* Main Styles */

main {
    display: inline-block;
    margin-left: 23%;
    padding-right: 10%;
}

input {
    background-color: gray;
    color: white;
}

input::placeholder {
    color: white;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

blockquote {
    background-color: rgb(247, 241, 231);
    padding: 30px;
    font-style: italic;
    color: gray;
    border-left: 5px solid gray
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    padding: 0px 0px 0px 2px;
}

blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

h6 {
    color: gray;
    font-size: 1em;
    padding-bottom: 0px;
    display: inline-block;
}

h1 {
    display: inline-block;
}

ul {
    padding-left: 0em;
}

div {
    padding-top: 180%
}
